<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/MegaNavbar'); -%>

  <!-- MAIN -->
  <p id="user_id" class="hidden"><%= user.id %></p>
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="sekolah-page" class="h-full bg-white rounded-tl-3xl p-8">
        <p class="text-main font-bold text-2xl">Hallo, <span id="first-name"></span></p>
        <div id="bg-table-sekolah" class="min-h-screen shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-white">
            <div class="bg-main rounded-lg p-4 w-[400px]">
                <p class="text-white font-bold text-lg">Status Absensi: <span id="status-kehadiran" class="text-red-400"></span></p>
                <p id="desc-kehadiran" class="text-sm text-white"></p>
                <form id="form-checkin">
                  <button type="submit" class="hidden mt-4 bg-white text-sm px-3 py-2 font-bold text-main rounded-lg">Check in</button>
                </form>
            </div>
            <p id="vpn-cehck" class="hidden text-red-500 text-xs font-normal mt-2">*harap mematikan VPN ketika check-in absensi</p>
        </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/KaryawanDashboard.js"></script>